
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
            <div class="row">
                <div
                class="col-lg-6 order-1 order-lg-2"
                data-aos="zoom-in"
                data-aos-delay="100"
                >
                <div class="about-img">
                    <img src="assets/img/CafeAbout.jpg" alt="Cafe xd" />
                </div>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Acerca de nosotros.</h3>
                <p class="fst-italic">
                    somos el primer emprendimiento de Fabrica de Bizcochos de
                    Cayambe en el redondel de Cajas, para tu deleite tenemo sucursal
                    en la ciudad de Quito
                </p>
                <ul>
                    <li>
                    <i class="bi bi-check-circle"></i> Abrimos todos los días de
                    la semana.
                    </li>
                    <li>
                    <i class="bi bi-check-circle"></i> tenemos desayunos, platos
                    fuertes y bebidas calientes.
                    </li>
                    <li>
                    <i class="bi bi-check-circle"></i> es un negocio
                    verdaderamente familiar, nuestro objetivo es brindarle un
                    ambiente seguro y acogedor.
                    </li>
                </ul>
                <div class="btns">
                    <button type="button" class="btn btn-outline-warning">Contáctanos</button>
                </div>
                </div>
            </div>
            </div>
        </section>
        <!-- End About Section -->