<!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div
                class="container position-relative text-center text-lg-start"
                data-aos="zoom-in"
                data-aos-delay="100"
            >
                <div class="row">
                <div class="col-lg-8">
                    <h1>Bienvenido al <span>Tío Cajas</span></h1>
                    <h2>
                    nuestro objetivo es brindarle un ambiente seguro y acogedor, con
                    aroma a café acompañado con unos deliciosos bizcochos!
                    </h2>

                    <div class="btns">
                        <a href="#menu" class="btn-menu animated fadeInUp scrollto"
                            >Nuestro Menu</a
                        >
                        <a
                            href="#about"
                            class="btn-book animated fadeInUp scrollto"
                            >Contáctanos</a
                        >
                    </div>
                </div>
                <div
                    class="
                    col-lg-4
                    d-flex
                    align-items-center
                    justify-content-center
                    position-relative
                    "
                    data-aos="zoom-in"
                    data-aos-delay="200"
                >
                    <a
                    href="https://www.youtube.com/watch?v=hsHdP8KhYhM"
                    class="glightbox play-btn"
                    ></a>
                </div>
                </div>
            </div>
        </section>
        <!-- End Hero -->